@model List_of_Objects.Models.CharacterModel
@{
    ViewData["Title"] = "Detalles del Personaje";
}

<h1 class="text-center">Detalles del Personaje con .NET 8 Modelo Vista Controlador</h1>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white">
                    <strong>Detalle del Personaje</strong>
                </h3>
            </div>
            <div class="card-body">
                <ul class="list-grooup">
                    <li class="list-group-item"><strong>ID: </strong>@Html.DisplayFor(character => character.ID)</li>
                    <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(character => character.Name)</li>
                    <li class="list-group-item"><strong>Edad: </strong>@Html.DisplayFor(character => character.Age)</li>
                    <li class="list-group-item"><strong>Ocupación: </strong>@Html.DisplayFor(character => character.Job)</li>
                </ul>
                <br><br>
                <a asp-asp-controller="Inicio" asp-action="Index">Vuelvo a Inicio</a>
            </div>
        </div>
    </div>
</div>