body
{
    --color-button: #198754; /* Color de los botones predeterminado */
    --color-a: #0066cc; /* Color de los Enlaces predeterminado */
    background-color: var(--color-fondo); /* Color de fonde del body */
    color: var(--color-texto); /* Color del texto del body */

    header
    {
        background-color: var(--color-header_back);
        color: var(--color-header);
    }

    nav
    {
        background-color: var(--color-nav_back);
    }

    aside
    {
        background-color: var(--color-aside_back);
    }

    footer
    {
        background-color: var(--color-footer_back);
        color: var(--color-footer);
    }

    .btn
    {
        background-color: var(--color-button);
    }

    .list-group-item
    {
        background-color: var(--color-li_back);
        color: var(--color-li);
    }

    .nav-link
    {
        color: var(--color-a);
    }
}

.young
{
    --color-texto: darkslategray;
    --color-fondo: blue;
    --color-header_back: cyan;
    --color-nav_back: green;
    --color-aside_back: green;
    --color-button: red;
    --color-li: darkslategray;
    --color-li_back: orange;
    --color-a: darkslategray;
    --color-footer_back: red;

    .text-center /* Cambio el color de la clase text-center, que tiene footer. */
    {
        color: black;
    }

    .btn /* Cambio el color de la clase btn(Botones de Bootstrap) */
    {
        color: black;
    }

    .btn:hover /* Cambio el Comprtamiento cuando paso encima del botón(hover) */
    {
        background-color: #198754;
        color: #f0f0f0;
    }
}

.sober
{
    --color-texto: #f0f0f0;
    --color-fondo: #0f0f0f;
    --color-header_back: #808080;
    --color-header: #f0f0f0;
    --color-nav_back: #a0a0a0;
    --color-aside_back: #a0a0a0;
    --color-button: grey;
    --color-li: lightgray;
    --color-li_back: #404040;
    --color-a: darkslategray;
    --color-footer_back: rgb(80, 80, 80);

    .text-center
    {
        color: white;
    }
    
    .btn
    {
        color: black;
    }

    .btn:hover
    {
        background-color: #0f0f0f;
        color: #f0f0f0;
    }
}

.asset
{
    --color-texto: #f0f0f0;
    --color-fondo: magenta;
    --color-header_back: salmon;
    --color-header: #f0f0f0;
    --color-nav_back: lightblue;
    --color-aside_back: lightblue;
    --color-button: pink;
    --color-li: darkslategray;
    --color-li_back: #8080ff;
    --color-a: darkslategray;
    --color-footer_back: orange;

    .text-center
    {
        color: black;
    }

    .btn
    {
        color: black;
    }

    .btn:hover
    {
        background-color: salmon;
        color: #f0f0f0;
    }
}

.elegant
{
    --color-texto: #f3eae8;
    --color-fondo: #281207;
    --color-header_back: #281207;
    --color-header: #F0F0F0;
    --color-nav_back: #c0c0c0;
    --color-aside_back: #c0c0c0;
    --color-button: #ffd700;
    --color-li: darkslategray;
    --color-li_back: #969454;
    --color-a: darkslategray;
    --color-footer_back: rgb(80, 80, 80);

    .text-center
    {
        color: white;
    }

    .btn
    {
        color: black;
    }

    .btn:hover
    {
        background-color: #0f0f0f;
        color: wheat;
    }
}

.hi_contrast
{   
    font-size: 1.25em;
    font-weight: bold;
    --color-button: #ffd700;

    button /* Cambio el color del texto del botón para que al pasar por encima, cambien el color del botón y el color del texto. */
    {
        color: black;
    }
}