#next
{
    visibility: hidden;
}

.send
{
    background-color: green;
    width: 154px;
    height: 42px;
    font-weight: bolder;
}

.send:hover
{
    border: 2px solid black;
}

.send:active
{
    border: 2px solid white;
}