@media (min-width: 575px) and (max-width: 991px){

}

@media (min-width: 992px) and (max-width: 1279px){
    .container
    {
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 1%;
        padding: 10px;
    }

    header
    {
        background-color: pink;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    nav
    {
        background-color: #ffffdd;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    nav > ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav > ul > li
    {
        display: inline;
        text-align: center;
        margin-left: 20%;
        
    }

    aside
    {
        /* width: 30%; */
        justify-content: space-between;
        flex-direction: column;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #ddffdd;
    }

    aside > ul
    {
        font-family: cursive;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    main
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #ddffff;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: .5rem;
      }

    .content
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-family: cursive;
        background-color: #eeeeee;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
    }

    footer
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #ddddff;
    }

    ul
    {
        font-family: cursive;
        margin: 10px;
        padding: 0;
    }
}

@media (min-width: 1280px){
    .container
    {
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 1%;
        padding: 10px;
    }

    header
    {
        background-color: pink;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    nav
    {
        background-color: #ffffdd;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    nav > ul
    {
        font-family: cursive;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    aside
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #ddffdd;
    }

    aside > ul
    {
        font-family: cursive;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    main
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #ddffff;
    }

    .content
    {
        font-family: cursive;
        background-color: #eeeeee;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 5px;
        padding: 6px;
    }

    footer
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #ddddff;
    }

    ul
    {
        font-family: cursive;
        margin: 10px;
        padding: 0;
    }
}