@{
    ViewData["Title"] = "Home Page";
    var name = ViewBag.name;
    var age = ViewBag.age;
    var ID = ViewBag.ID;
}

<div class="text-center">
    <h1 class="display-4">Paso Parametros, Estan en la URL: @name de @age Años Dice Hola con ID = @ID</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>