.star
{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url(https://i.sstatic.net/KaEDC.png);
}

.stars-2
{
    width: 26px;
}

.stars-3
{
    width: 39px;
}

.stars-4
{
    width: 52px;
}

.stars-5
{
    width: 65px;
}



.main > div > a
{
    text-decoration: none;
    color: var(--color-a);
    ul
    {
        list-style: none;
    }
}

@media screen and (min-width: 576px)
{
    main > div
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer
    {
        font-weight: bold;
    }

    footer > div
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media  screen and (min-width: 912px), (min-width: 576px ) and (orientation: landscape)
{
    #select
    {
        display: none
    }

    #nav
    {
        display: block;
    }

    main > div
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer > div
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section > div > div:not(:nth-child(1))
    {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}

@media screen and (min-width: 1024px)
{
    main > div
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .container {
        display: flex;
    }
    
    .sidebar {
        display: flex;
        flex-direction: column;
        width: 200px; /* Ajusta el ancho según sea necesario */
        background-color: #f0f0f0; /* Color de fondo opcional */
        padding: 10px;
    }
    
    nav, aside, main {
        margin-bottom: 10px; /* Espaciado entre elementos */
    }
    
    main {
        flex-grow: 1; /* Para que ocupe el espacio restante */
        background-color: #e0e0e0; /* Color de fondo opcional */
        padding: 10px;
    }
}