<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{../fragments/head::head}"></head>
<br><br><br>
<nav th:replace="~{../fragments/top::menu}"></nav>
<br>
    <h1>Te Damos la Bienvenida</h1>
    <button  class="btn btn-success" onclick="window.open('/create')">Agrega Animal</button>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Vida Media</th>
            <th>Está Extinguido</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <th:block th:each="a: ${animales}">
            <tr>
                <td th:text="${a.getId()}">...</td>
                <td th:text="${a.getName()}">...</td>
                <td th:text="${a.getAge()}">...</td>
                <td th:text="${a.getExtinct()}">...</td>
                <td><button class="btn btn-primary">Detalles</button>&nbsp;&nbsp;<button class="btn btn-secondary">Actualizar</button>&nbsp;&nbsp;<button class="btn btn-danger">Eliminar</button></td>
            </tr>
        </th:block>
        </tbody>
    </table>
<footer th:replace="~{../fragments/footer::footer}"></footer>