body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-width: 560px;
}

h1 {
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
}

form {
    margin: 1em auto;
    max-width: 56.25em;
    padding: 1em;
}

fieldset {
    border: none;
    margin-bottom: 2em;
}

legend {
    font-size: 1.5em;
    border-bottom: 0.1em solid #000;
    width: 100%;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 0.6em;
    border: 0.0625em solid #ccc;
    border-radius: 0.5em;
    margin-top: 0.3em;
    box-sizing: border-box;
    margin-bottom: 1.25em;
}

input[type="checkbox"],
input[type="radio"] {    
    cursor: pointer;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

textarea {
    resize: none;
    height: 7.5em;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset label[for="userdata_showpassword"],
fieldset label[for="accounttype_particular"],
fieldset label[for="accounttype_empresa"],
fieldset label[for="musica"],
fieldset label[for="manualidades"],
fieldset label[for="deporte"],
fieldset label[for="artes"],
fieldset label[for="videojuegos"],
fieldset label[for="lectura"] {
    display: inline-block;
    margin-right: 0.8em;
    cursor: pointer;
}

.field-group {
    margin: 0.5em 0 1.25em;
    display: flex;
    flex-wrap: wrap;
}

/* Posicionamiento de los spans de conteo */
.postdata-container {
    position: relative;
    margin-bottom: 2em;
}
#postdata-count_title, #postdata-count_description {
    font-size: 0.8em;
    color: #666;
    position: absolute;
    right: 0.625em;
    bottom: 0;
}

/* Botón enviar */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 1em;
    font-size: 1.1em;
    border-radius: 0.5em;
    width: 100%;
    transition: background-color 0.3s;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Validaciones */
/* input:invalid, textarea:invalid, select:invalid {
    border-color: #F00;
} */
.errormessage {
    margin: -1em 0 1.2em;
    display: block;
    font-size: 0.8em;
    right: 0.625em;
    bottom: 0;
    color: #F00;
}
form.submitted *:invalid:not(fieldset){
    border-color: #F00;
}

/* Volver a la página de inicio */
a {
    color: #000000;
    padding: 0.875em 1.25em;
    margin: 0.5em 0;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #3e6291;
}

#errores {
    padding-top: 10em;
    span {
        display: flex;
        flex-direction: column;
        margin: 1em 0.5em;
        color: #F00;
    }
}

@media screen and (min-width: 900px) {
    form fieldset.userdata {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    form fieldset.personaldata  {
        .personaldata-div_input {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
            margin-bottom: 1em;
            div {
                display: flex;
                flex-direction: column;
            }
        }
        .personaldata-div_doctype {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1em;
            margin-bottom: 1em;
            div.field-doc {
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 0.5em;
                span {
                    grid-column: span 2;
                }
            }
            div.field-group {
                display: flex;
                flex-direction: row;
                gap: 0.5em;
                span {
                    margin-top: 0.5em;
                }
            }
        }
        .personaldata-div_hobbies {
            margin-bottom: 1em;
            div.aficiones {
                margin-top: 1em;
                gap: 1em;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                span {
                    margin-top: 0.3em;
                    grid-column: span 3;
                }
            }
        }
    }
}