.flex
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5% 5%;
    img
    {
        width: 500px;
        height: 320px;
    }
}

img
{
    width: 500px;
    height: 320px;
}