<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{../fragments/head::head}"><title></title></head>
<br><br><br>
<nav th:replace="~{../fragments/top::menu}"></nav>
<br>
<h1>Agregar un Animal</h1>
<form action="#" th:action="@{/create}" th:object="${prueba}" method="post">
    <fieldset>
        <legend>Datos del Animal</legend>
            <input id="username" type="text" th:field="*{username}" required/><label for="username"> &nbsp;&nbsp;Nombre</label>
            <br><br>
            <input id="email" type="text" th:field="*{email}" required/><label for="email"> &nbsp;&nbsp;Edad</label>
            <br><br>
            <input id="extinct" type="text" th:field="*{password}" /><label for="extinct"> &nbsp;&nbsp;Extinguido</label>
            <br><br>
            <input type="submit" value="Enviar" class="btn btn-success btn-lg"/>
    </fieldset>
</form>
<footer th:replace="~{../fragments/footer::footer}"></footer>