.left-margin
{
    margin-left: 48px;
}

#about, #history
{
    padding: 10px;
}

.center
{
    text-align: center;
}

.grid-2col
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* CSS de Header, Nav, Aside y Main */
@font-face
{
    font-family: "CustomFont";
    src: url("../font/OpenSans-Regular.ttf");
}

body
{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: "CustomFont", "Tangerine", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 0;
    border-radius: .3em;

    header, nav, aside, main, footer, main, article > div > ul > li
    {
        border: 1px solid lightgray;
        img
        {
            border-radius: 10px;
            width: 95%;
        }
    }

    header
    {
        border-radius: 12px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        padding: .3em;
        background-color: var(--color-header_back);
        color: var(--color-header);
    }

    nav
    {
        background-color: var(--color-nav_aside_back);
        color: var(--color-texto);
    }

    aside
    {
        background-color: var(--color-nav_aside_back);
        color: var(--color-texto);
    }

    main
    {
        background-color: var(--color-fondo);
    }

    header > h1, nav > h2, aside > h3, main > h3, footer > p
    {
        text-align: center;
    }

    h3
    {
        margin: 0;
    }

    span
    {
        font-size: .80em; /* Reduce el tamaño de la fuente de los span al 80% */
    }

    a
    {
        border-radius: 5px;
        transition: .5s;
    }

    #btn-transfer
    {
        border: 1px solid blue;
        border-radius: 15px;
        background-color: #ffc439;
        height: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    #btn-transfer:hover
    {
        border: 2px solid white;
    }

    #transfer
    {
        display: none;
    }
    
    .photo > img
    {
        float: right;
        object-fit: cover;
        width: 25%;
        border: 1px solid black;
        border-radius: 40%;
    }

    p
    {
        padding: 10px;
    }

    img, video, iframe {
        padding: 20px;
        transition: transform .5s;
        width: 80%;
        margin: 0 auto;
      }
      
      img:hover, video:hover, iframe:hover {
        z-index: 1;
        transform: scale(1.1);
      }
}

/* Estilos de Header. */

.logo-size
{
    width: 90%
}

.big-letter
{
    font-size: 2.6em;
}

a, .nav-link
{
    color: var(--color-a);
    margin: .5em 0;
    text-decoration: none;
    transition: .5s;
}

a:hover, .nav-link:hover
{
    background-color: var(--color-hover);
}

.double
{
    font-size: 2.6em;
    color: var(--color-texto);
}

.down
{
    margin-top: 6em;
    margin-right: 1em;
}

.xsmall
{
    font-size: small;
}

.equal
{
    width: 1.4em;
    background-color: var(--color-header_back);
    border: none;
}

.equal:hover
{
    cursor: pointer;
}

.equal:active
{
    color: red;
}

/* Estilos de Nav. */

.nav-flex
{
    display: flex;
    width: 100%;
}

.nav-vertical
{
    flex-direction: column;
}

#select
{
    background-color: #ffddaa;
    width: 100%;
    font-size: .75em;
}

#nav /* El nav no se Ve ya que el Diseño es Mobile First */
{
    display: none;
}

.left
{
    margin-right: .5em;
}

/* Estilos de Main. */

.inline
{
    display: inline-block;
}

main > .main
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btn
{
    border: 2px solid grey;
    border-radius: 12px;
    width: 8em;
    height: 4em;
    background-color: var(--color-button_back);
    color: var(--color-button);
    font-size: 1.05em;
}

.btn:hover
{
    background-color: var(--color-nav_aside_back);
    color: var(--color-a);
    cursor: pointer;
}

.btn:active
{
    border: 0;
}

.tabs
{
    width: 95%;
    height: 64px;
    margin: 8px;
    a
    {
        text-decoration: none;
        color: var(--color-a);
    }
}

.here
{
    border-left: 1px solid salmon;
    border-right: 1px solid salmon;
    border-top: 1px solid salmon;
    border-radius: 5px;
    color: var(--color-texto);
    font-weight: bold;
    padding: 8px;
}

article > ul
{
    list-style: none;
}

article > a
{
    text-decoration: none;
    color: var(--color-texto);
}

article > a > ul
{
    list-style: none;
}

.next /* Clase del DIV que contiene el botón submit del carro, data, payment y summary. */
{
    height: 48px;
    padding: 10px;
    input /* Input type submit del carro de la compra. */
    {
        float: right;
        border: 2px solid black;
        border-radius: 8px;
        color: var(--color-button);
        background-color: var(--color-button_back);
        width: 96px;
        height: 48px;
    }

    input:hover
    {
        border: 2px solid white;
    }

    input:active
    {
        border: 2px solid black;
    }
}

/* Estilos de Footer. */

footer
{
    background-color: var(--color-footer_back);
    color: var(--color-footer);
    font-weight: bold;
}

footer > div > div > ul
{
    font-weight: bold;
}

footer > div > div > ul > li
{
    font-weight: normal;
    list-style: none;
    a
    {
        text-decoration: none;
        color: var(--color-footer)
    };
}

.repair
{
    display: flex;
    direction: row;
    line-height: 5em;
}

.sort
{
    margin: 0 .5em;
    line-height: 2em;
}