@font-face
{
    font-family: "CustomFont";
    src: url("../font/DS-Digital.ttf");
}

*
{
    font-family: "CustomFont", "Tangerine", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    margin: 0;
    margin: .1em;
    padding: 0;
    border-radius: .3em;
}

header, nav, aside, main, footer, main > div ul > li
{
    border: 1px solid lightgray;
}

header > h1, nav > h2, aside > h3, main > h3, footer > p
{
    text-align: center;
}

header
{
    background-color: #ffaaaa;
}

nav
{
    background-color: #ffddaa;
}

aside
{
    background-color: #ffffaa;
}

main
{
    background-color: #aaffaa;
}

main > div
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main li
{
    background-color: #aaaaff;
    list-style-type: none;
    text-align: center;
    margin: 0 .2em .2em;
}

footer
{
    background-color: #ffaaff;
}

footer > div > ul
{
    font-weight: bold;
}

footer > div > ul > li
{
    font-weight: normal;
    list-style: none;
}