/* General */
body
{
    font-size: 1.2rem;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.col-2
{
    display: flex;
    flex-wrap: nowrap
}

.col-10
{
    height: 128px;
    border: 1px solid lightgray;
    border-radius: 12px;
}

.col-3 a
{
    height: 24px;
    width: 210px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 300px;
    margin: 15px;
    text-align: justify;
    line-height: 75px;
    font-size: 30px;
  }

.header-right
{
    margin-left: 125px;
}

.flex
{
    display: flex;
    align-items:center;
}

.flex2
{
    display: flex;
    width: 30%;
}

.grid
{
    display: grid;
    position: relative;
    top: -258px;
    left: 180px;
    width: 1024px;
    grid-template-columns: auto auto;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.grid > div
{
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

.grid2
{
    display: grid;
    position: relative;
    top: -250px;
    left: 180px;
    width: 1024px;
    grid-template-columns: auto auto auto;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.grid2 > div
{
    border: 1px solid black;
    width: 316px;
    height: 500px;
}

.inline
{
    display: inline;
}

.footer
{
    width: 100%;
    height: 120px;
    border: 1px solid blue;
}

/* Estilos del NAV */

.nav-margin
{
    margin-right: 50px;
}

.nav-button
{
    border: 1px solid gray;
    border-radius: 15px;
    text-decoration: none;
    margin-bottom: 25px;
}

.nav-blue
{
    color: white;
    background-color: blue;
}

.nav-lightblue
{
    background-color: lightblue;
}

.nav-green
{
    background-color: rgb(63, 194, 63);
}

.nav-lightgreen
{
    background-color: lightgreen;
}

.nav-lightrose
{
    background-color: lightpink;
}

.vertical
{
    flex-direction: column;
}