*
{
    font-family: "CustomFont", "Tangerine", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    margin: .02em;
    padding: 0;
    border-radius: .3em;
}

img
{
    width: 75%;
}

header, nav, aside, main, footer, main > div > ul > li
{
    border: 1px solid lightgray;
}

header
{
    background-color: #ffaaaa;
}

nav
{
    background-color: #ffddaa;
}

aside
{
    background-color: #ffffaa;
}

main
{
    background-color: #aaffaa;

    .img
    {
        width: 25%;
    }

    .inline_grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5px 0 5px 0;
        padding: 5px 0 5px 0;
        border: 1px solid grey;
        border-radius: 10px;
    }
}

header > h1, nav > h2, aside > h3, main > h3, footer > p
{
    text-align: center;
}

main
{
    .main
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
}

main li
{
    background-color: #aaaaff;
    list-style-type: none;
    text-align: center;
    margin: 0 .05em .1em;
}

.star
{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url(https://i.sstatic.net/KaEDC.png);
}

.stars-2
{
    width: 26px;
}

.stars-3
{
    width: 39px;
}

.stars-4
{
    width: 52px;
}

.stars-5
{
    width: 65px;
}

footer
{
    background-color: #ffaaff;
    font-weight: bold;
}

footer > div > div > ul
{
    font-weight: bold;
}

footer > div > div > ul > li
{
    font-weight: normal;
    list-style: none;
}

@media screen and (min-width: 576px ) {
    main {
        .main {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    footer
    {
        .footer
        {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 576px)
{
    footer
    {
        .footer
        {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
}

@media  screen and (min-width: 912px)
{
    .container
    {
        display: grid;
        
        nav
        {
            grid-column: 1 / 3;
        }

        .main
        {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    footer
    {
        .footer
        {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
}

@media screen  and (min-width: 1024px) {
    section
    {
        display: grid;
        /* grid-area: 1fr 1fr; /* Línea de Prueba. */
        nav
        {
            grid-column: 1 / 2;
        }

        aside
        {
            grid-column: 1 / 2;
        }

        main
        {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
        }

        /* .main
        {
            grid-template-columns: repeat(5, 1fr);
        } */
    }
}