@font-face
{
    font-family:"CustomFont";
    src: url("font/DS-Digital.ttf");
}

body
{
    font-family: "CustomFont";
    font-size: 64px;
    color: blue;

    /* font-family: 'Tangerine', serif;
    font-size: 48px; */
}

span
{
    border: 3px solid black;
    background-color: black;
}